<style>
        
img {
    width: 300px;; 
    height: auto; 
    
}
body {
    font-family: Calibri;
    margin: 0;
    padding: 0;
    background-color: rgb(213,252,255);
    background-image: url("background.jpg")
}
header {
    background-color: #050404;
    color: #faf7f7;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #0c9148;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #f7f5f5;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #085114;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* MAIN PHOTO SECTION  */
.mainphoto {
    float: center;
}

.mainphoto img {
    float: right; 
    width: 30%;
    position: relative;
    right: 36%;
    top: 40px;
}
.mainphoto
.content { display: inline-block;}

.circle { 
    border-radius: 50%;
}


/*  MAIN TEXT SECTION  */
h2{
    position: absolute;
    width: 70%;
    left: 19%;
    bottom: 10%;
    text-align: justify;
    font-size: 3em;
    font-family: Lato;
    color:#080808;
    letter-spacing: 20px;
}
/* END */
/* EXPERIENCE SECTION */
h3{
    position: absolute;
    font-family: Calibri;
    text-decoration: underline;
    width: 70%;
    left: 45%;
    bottom: 80%;
    text-align: justify;
}
.experience {
    float: absolute;
}

.experience img {
    float: right; 
    width: 20%;
    position: relative;
    bottom: 50%;
    right: 40%;
    top: 40px;
}
.experience
.content { display: inline-block;}
/* END */

@keyframes cursor {
    50% { border-color: transparent}
}
@keyframes typing {
    from { width: 0 }
}
</style>